{% extends 'manager/base.html' %}
{% block title %}Home{% endblock title %}
{% block page_title %}
<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-list-check" width="44" height="44" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
    <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
    <path d="M3.5 5.5l1.5 1.5l2.5 -2.5" />
    <path d="M3.5 11.5l1.5 1.5l2.5 -2.5" />
    <path d="M3.5 17.5l1.5 1.5l2.5 -2.5" />
    <line x1="11" y1="6" x2="20" y2="6" />
    <line x1="11" y1="12" x2="20" y2="12" />
    <line x1="11" y1="18" x2="20" y2="18" />
</svg>
TO-DO:
{% endblock page_title %}
{% block content %}
{% set uncheck  %}
<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-square" width="44" height="44" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
    <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
    <rect x="4" y="4" width="16" height="16" rx="2" />
</svg>
{% endset %}
{% set checked %}
<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-checkbox" width="44" height="44" viewBox="0 0 24 24" stroke-width="1.5" stroke="#00b341" fill="none" stroke-linecap="round" stroke-linejoin="round">
    <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
    <polyline points="9 11 12 14 20 6" />
    <path d="M20 12v6a2 2 0 0 1 -2 2h-12a2 2 0 0 1 -2 -2v-12a2 2 0 0 1 2 -2h9" />
</svg>
{% endset %}

<div>
    <ul>
        <li>
            {{ uncheck }}
            儀錶板 (dashboard) <span class="badge ms-2 bg-yellow-lt">STAFF</span>
            <ul>
                <li>
                    {{ uncheck }}
                    報名人數
                </li>
                <li>
                    {{ uncheck }}
                    報名前/報名後 倒數
                </li>
                <li>
                    {{ uncheck }}
                    目前比賽流程進度
                </li>
                <li>
                    {{ uncheck }}
                    近期結束場次概覽
                </li>
                <li>
                    {{ uncheck }}
                    即將開始場次概覽
                </li>
                <li>
                    {{ uncheck }}
                    數據分析
                </li>
            </ul>
        </li>
        <li>
            {{ checked }}
            階段管理 (Round) <span class="badge ms-2 bg-red-lt">ADMIN</span>
            <ul>
                <li>
                    {{ checked }}
                    新增
                </li>
                <li>
                    {{ checked }}
                    修改
                </li>
                <li>
                    {{ checked }}
                    刪除
                </li>
            </ul>
        </li>
        <li>
            {{ uncheck }}
            圖池管理 (Mappool) <span class="badge ms-2 bg-purple-lt">MAPPOOLER</span>
            <ul>
                <li>
                    {{ checked }}
                    新增
                </li>
                <li>
                    {{ uncheck }}
                    修改
                </li>
                <li>
                    {{ uncheck }}
                    刪除
                </li>
            </ul>
        </li>
        <li>
            {{ checked }}
            工作人員管理 (Staff) <span class="badge ms-2 bg-red-lt">ADMIN</span>
            <ul>
                <li>
                    {{ checked }}
                    新增
                </li>
                <li>
                    {{ checked }}
                    修改
                </li>
                <li>
                    {{ checked }}
                    刪除
                </li>
            </ul>
        </li>
        <li>
            {{ checked }}
            賽程管理 (Schedule) <span class="badge ms-2 bg-yellow-lt">STAFF</span>
            <ul>
                <li>
                    {{ checked }}
                    接工作 
                    <span class="badge ms-2 bg-orange-lt">裁判</span>
                    <span class="badge ms-2 bg-green-lt">直播</span>
                    <span class="badge ms-2 bg-blue-lt">賽評</span>
                </li>
                <li>
                    {{ checked }}
                    新增 
                    <span class="badge ms-2 bg-red-lt">ADMIN</span>
                </li>
                <li>
                    {{ checked }}
                    修改 <span class="badge ms-2 bg-red-lt">ADMIN</span>
                </li>
                <li>
                    {{ checked }}
                    刪除 <span class="badge ms-2 bg-red-lt">ADMIN</span>
                </li>
            </ul>
        </li>
        <li>
            {{ checked }}
            基本設定 (Settings) <span class="badge ms-2 bg-azure-lt">HOST</span>
            <ul>
                <li>
                    {{ checked }}
                    修改
                </li>
            </ul>
        </li>
        <li>
            {{ uncheck }}
            隊伍管理 (Team) <span class="badge ms-2 bg-red-lt">ADMIN</span>
            <ul>
                <li>
                    {{ uncheck }}
                    新增
                </li>
                <li>
                    {{ checked }}
                    修改
                </li>
                <li>
                    {{ uncheck }}
                    刪除
                </li>
                <li>
                    {{ uncheck }}
                    玩家審核
                </li>
            </ul>
        </li>
        <li>
            {{ uncheck }}
            裁判工具 
            <span class="badge ms-2 bg-yellow-lt">STAFF</span>
        </li>
        <li>
            {{ uncheck }}
            直播Overlay 
            <span class="badge ms-2 bg-yellow-lt">STAFF</span>
        </li>
        <li>
            {{ uncheck }}
            Discord Bot 
            <span class="badge ms-2 bg-cyan-lt">EVERYONE</span>
        </li>
        <li>
            {{ uncheck }}
            安裝架設流程 
            <span class="badge ms-2 bg-dark-lt">OWNER</span>
        </li>
    </ul>
</div>
{% endblock content %}