{% extends 'base.html' %}
{% block title %}Index{% endblock title %}
{% block styles %}
<!-- <style>
body {
    /*background-image: url(static/img/bb.jpg)*/
    background-color: #000;
}
</style> -->
{% endblock styles %}

{% block header %}

{% endblock header %}

{% block main %}
<div class="position-absolute top-50 start-50 translate-middle text-center">
    <div class="user-select-none">
        <img src="/static/img/PENGUINWORRIED.png">
        <h1 class="text-nowrap">:PENGUINWORRIED:</h1>
        <p>oh no!</p>
    </div>
</div>
{% endblock main %}

{% block footer %}
{% endblock footer %}