{% extends 'base.html' %}
{% block title %}Schedule{% endblock title %}
{% block main %}
<div class="row justify-content-center mb-3">
    <div class="col-auto">
        <div id="rounds-btn-group" class="btn-group">
            {% for r in rounds %}
            <a href="{{r.id}}" class="btn btn-primary">{{r.name}}</a>
            {% endfor %}
        </div>
    </div>
</div>
<div class="row bg-light rounded m-2 p-2 text-nowrap">
    <div class="col-12 col-xl-6">
        <div class="row align-items-center justify-content-center">
            <div class="col-auto d-none d-md-block">
                <img src="https://a.ppy.sh/6008293" class="avatar-min rounded">
            </div>
            <div class="col text-center overflow-hidden">
                <span>ABCDEFGHIJKLMNOP</span>
            </div>
            <div class="col text-center">
                <p class="fs-3 m-0">5 : 1</p>
                <p class="m-0">12/17 00:00 UTC</p>
            </div>
            <div class="col text-center overflow-hidden">
                <span>ABCDEFGHIJKLMNOP</span>
            </div>
            <div class="col-auto d-none d-md-block">
                <img src="https://a.ppy.sh/6008293" class="avatar-min rounded">
            </div>
        </div>
    </div>
    <div class="col-12 col-xl p-0">
        <div class="row align-items-center justify-content-center text-center" style="min-height: 60px;">
            <div class="col">
                <span>裁判</span><br>
                <span class="overflow-hidden">_CHIMERA</span>
            </div>
            <div class="col">
                <span>直播</span><br>
                <span class="overflow-hidden">ABCDEFGHIJKLMNOP</span>
            </div>
            <div class="col d-none d-md-block">
                <span>賽評</span><br>
                <span class="overflow-hidden">_CHIMERA</span>
            </div>
            <div class="col text-end">
                <span class="badge bg-secondary">Live</span><br>
                <span class="badge bg-primary">mp link</span>
            </div>
        </div>
    </div>
    
</div>
<div class="row bg-light rounded m-2 p-2 text-nowrap">
    <div class="col-12 col-xl-6">
        <div class="row align-items-center justify-content-center">
            <div class="col-auto d-none d-md-block">
                <img src="https://a.ppy.sh/6008293" class="avatar-min rounded">
            </div>
            <div class="col text-center overflow-hidden">
                <span>_CHIMERA</span>
            </div>
            <div class="col text-center">
                <p class="fs-3 m-0">- : -</p>
                <p class="m-0">12/18 00:00 UTC</p>
            </div>
            <div class="col text-center overflow-hidden">
                <span>_CHIMERA</span>
            </div>
            <div class="col-auto d-none d-md-block">
                <img src="https://a.ppy.sh/6008293" class="avatar-min rounded">
            </div>
        </div>
    </div>
    <div class="col-12 col-xl p-0">
        <div class="row align-items-center justify-content-center text-center" style="min-height: 60px;">
            <div class="col">
                <span>裁判</span><br>
                <span class="overflow-hidden">ABCDEFGHIJKLMNOP</span>
            </div>
            <div class="col">
                <span>直播</span><br>
                <span class="overflow-hidden">ABCDEFGHIJKLMNOP</span>
            </div>
            <div class="col d-none d-md-block">
                <span>賽評</span><br>
                <span class="overflow-hidden">ABCDEFGHIJKLMNOP</span>
            </div>
            <div class="col text-end">
                <span class="badge bg-danger">Live</span><br>
                <span class="badge bg-secondary">mp link</span>
            </div>
        </div>
    </div>
    
</div>
{% endblock main %}